@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.about-main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.about-main>img{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.about-main>.about-page2{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    /* border: 4px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0vw 4vw;
}
.about-main>.about-page2>.about-page2-p1{
    width: 70%;
    height: 44vw;
    /* border: 4px solid blue; */
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
}
.about-main>.about-page2>.about-page2-p1>.about-page2-p1-1{
    width: 100%;
    height: 23%;
    /* border: 3px solid gold; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-main>.about-page2>.about-page2-p1>.about-page2-p1-1>h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;   
    color: #fff;
}
.about-main>.about-page2>.about-page2-p1>.about-page2-p1-1>h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.4vw;
    font-style: italic;   
    color: #fff;
}
.about-main>.about-page2>.about-page2-p1>.about-page2-p1-2{
    width: 100%;
    height: 77%;
    /* border: 3px solid gold; */
    display: flex;
    flex-direction: column;
}
.about-page2-p1-2-image{
    width: 100%;
    height: 64%;
    overflow: hidden;
    object-fit: cover;
    /* border: 1px solid red; */
}
.about-page2-p1-2-image>img{
    width: 100%;
    height: 100%;
    transition: 0.77s;
}
.about-page2-p1-2-image>img:hover{
    scale: 1.1;
}
.about-page2-p1-2-content{
    width: 100%;
    height: 36%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.about-page2-p1-2-content>p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1vw;

}
.about-main>.about-page2>.about-page2-p2{
    width: 30%;
    height: 44vw;
    /* border: 4px solid blue; */
}
.about-main>.about-page2>.about-page2-p2>.about-page2-p2-1{
    width: 100%;
    height: 23%;
    /* border: 3px solid gold; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-main>.about-page2>.about-page2-p2>.about-page2-p2-1>h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    color: #fff;  
}
.about-main>.about-page2>.about-page2-p2>.about-page2-p2-1>h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.4vw;
    font-style: italic;   
    color: #fff;
}
.about-main>.about-page2>.about-page2-p2>.about-page2-p2-2{
    width: 100%;
    height: 77%;
    /* border: 3px solid gold; */
}





.about-main>.about-page3{
    width: 100vw;
    height: 80vh;
    background-color: #00000091;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-main>.about-page3>.about-page3-content{
    /* border: 3px solid palegreen; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-main>.about-page3>.about-page3-content>h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3vw;
    text-align: center;
}
.about-main>.about-page3>.about-page3-content>h4{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4vw;
    text-align: center;
    font-style: italic;
    padding-bottom: 3vw;
}
.about-main>.about-page3>.about-page3-content>button{
    background-color: #febe29;
    color: #fff;
    padding: 0.6vw 1.4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    width: 12%;
    margin: 0 auto;
    border-radius: 7px;
    border: none;
    outline: none;
    transition: 0.4s;
}
.about-main>.about-page3>.about-page3-content>button:hover{
    box-shadow: 0 0 20px 0.1px #febe29;
    animation: aboutbtn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes aboutbtn{
    0%{
        width: 12%;
    }
    100%{
        width: 18%;
    }
}








.about-page4{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    /* border: 5px solid red; */
}
.about-page4>h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    color: #fff;
    padding-top: 3vw;
    text-align: center;  
}
.about-page4>h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    color: #fff;
    text-align: center;  
    font-style: italic;   
}
.about-page4>.about-page4-team{
    width: 100%;
    height: auto;
    /* border:3px solid blue; */
    margin-top: 2vw;
    padding: 0 8.5vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.about-page4-item{
    width: 100%;
    height: 37vw;
    box-shadow: 0 0 22px 0.1px #2d2d2d;
    border-radius: 10px;
    overflow: hidden;
    /* border: 7px solid green; */
    display: flex;
    flex-direction: column;
}
.about-page4-item-image{
    width: 100%;
    height: 60%;
    overflow: hidden;
    /* border: 8px solid gold; */
}
.about-page4-item-image>img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 0.77s;
}
.about-page4-item-image>img:hover{
    scale: 1.1;
}
.about-page4-item-content{
    width: 100%;
    height: 40%;
    /* border: 7px solid greenyellow; */
    display: flex;
    background-color: #1b1a1a;
    padding: 1vw;
    padding-bottom: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.about-page4-item-content>h6>i{
    font-size: 1.2vw;
    padding-right: 1vw;
    color: #FEBE29;
}
.about-page4-item-content>span>img{
    color: #FEBE29;
}
.about-page4-item-content>h6{
    font-size: 0.89vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    color: #fff;
}
.about-page4-item-content>h3{
    font-size: 1.4vw;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}
.about-page4-item-content>p{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    color: #FEBE29;
}











/* 
*{
    overflow-x: hidden;
}

#page1{
   
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    
    
    
}
#backimage{
background-image: url("https://www.buclines.ch/application/files/6416/0162/3478/form-globe-v2.png");
background-repeat: no-repeat;
width: 100vw;
height: 100vh;
margin-left: 30vw;
justify-content: center;


}



.abheading{
    padding: 230px;
  
}
.abheading>p{
    font-size: 3vw;
    font-weight: 600;
}

#page2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 100px;
    
}
.leftsection{
margin: auto;
width: 54vw;
}

.rightsection{
    margin: auto;
    }

#headp{
    font-size: 1.7vw;
    font-weight: 600;
}   

.i{
max-width: 100%;
min-height: 100%;
}

.cardcarousel{
    border: 1px solid red;
    height: 60vh;
    width: 25vw;
}

#page3{
    height: 100%;
    width: 100%;
}

.padding{
    padding: 200px;
}
.back2{
    background-image: url("https://preview.colorlib.com/theme/south/img/bg-img/cta.jpg.webp");
   width: 100%;
   height: 500px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 2;
}
#page4{
    position: relative;
    height: 1000%;
    width: 100%;
    padding: 30px;
}
.realtorhead>p{

    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
}

.multiplecards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 70px;
   
}



.card{
    position: relative;
    width: 26vw;
    height: 50vh;
}
.card .main{
    width: 30vw;
    height: 60vh;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: #000;
    overflow-y: hidden;
   
    align-items: center; 
}





.card .face.face2{
    background: #111;
}
.logo{
    text-align: center;
}


.card .face.face1{
    top:0;
    left: 0;
    transition-property: left, z-index, tranform;
    transition-delay: 0s, 0s, 0s;
    transition-duration:  .5s, 0s, .5s;
    z-index: 2;
    transform: translate(-10px, -10px);
    

}
.card:hover .face.face1{
    transition-property: tranform, z-index, left ;
    transition-delay: 0s, 0s, 0s;
    transition-duration:  .5s, 0s, .5s;
    transform:translate(-170px, -10px) ;
    z-index: 1;
    left: -250px;
    
}

.contact{
    display: flex;
}

.topp{
    margin-top: 7vh;
}
.centerdiv{
    margin-left:100px;
    
}
.iconcontent{
    margin-top: -5px;
    margin-left: 7px;
}
.goldencolor{
    color: goldenrod;
} */