@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Cinzel', serif;
}
#navlink{
    text-decoration: none;
}
.main-page-black{
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background-color: #000;
    z-index: 10;
}

.main-page-black>h2{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 1vw;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 2vw;
    width: 60%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.main-page{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    animation: frontani;
    z-index: 9;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes frontani{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
        z-index: 11;
    }
}
.main-page>img{
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    object-fit: cover;
    animation: imgani;
    animation-delay: 4s;
    animation-duration: 2.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes imgani{
    from{
        scale: 1.3;
    }
    to{
        scale: 1;
    }
}
.main-page>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0%;
    background-color: transparent;
    width: 100vw;
    /* border: 1px solid yellow; */
    margin: 3vw 0vw;
    padding: 0 4.4vw;
    animation: navani;
    animation-delay: 4.2s;
    animation-duration: 2.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes navani{
    from{
        top:-100%;
    }
    to{
        top: 0%;
    }
}
.main-page>nav>div{
    /* border: 2px solid red; */
    width: 100%;
}

.main-page>nav>.main-page-links>ul{
    display: flex;
}
.main-page>nav>.main-page-links>ul>#navlink>li{
    color: #fff;
    margin-right: 1.5vw;
    list-style: none;
    border: 1px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    transition: 0.7s;
    border-radius: 50px;
    padding: 0.57vw 1vw;
}
.main-page>nav>.main-page-links>ul>#navlink>li:hover{
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #fff;
    color: green;
}
.main-page>nav>.main-page-logo{
    text-align: center;
}
.main-page>nav>.main-page-logo>img{
    width: 12vw;
}
.main-page>nav>.main-page-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-page>nav>.main-page-btn>ul{
    display: flex;
    align-items: center;
}

.main-page>nav>.main-page-btn>span>button{
    padding: 0.67vw 1.4vw;
    font-family: 'Poppins', sans-serif;
    margin-left: 1vw;
    border: 1px solid #fff;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    border-radius: 50px;
    transition: 0.7s;
}
.main-page>nav>.main-page-btn>span>button:hover{
    background-color: #fff;
    color: green;
}
.main-page>nav>.main-page-btn>span>#diff-padd{
    padding: 0.77vw 1vw;
    font-family: 'Poppins', sans-serif;
    margin-left: 1vw;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    border-radius: 50px;
}
.main-page>.main-page-content-heading h1{
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 8vw;
    width: 60%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.menu.closed{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0%;
    overflow: hidden;
    z-index: 999;
    background-color: #000;
    animation: remenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes remenu{
    from{
        right: 0%;
    }
    to{
        right: -100%;
    }
}
.menu{
    width: 100vw;
    position: absolute;
    top: 0%;
    overflow: hidden;
    z-index: 999;
    background-color: #000;
    animation: menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes menu{
    from{
        height: 0vh;
    }
    to{
        height: 100vh;
    }
}
.menu>.main-menu{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 5vw;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}
.menu>.main-menu>ul>li{
    color: #fff;
    list-style: none;
    font-family: 'Poppins', sans-serif; 
    font-size: 2vw;
    text-align: center;
    padding: 0.88vw 0;  
    transition: 0.77s;
}
.menu>.main-menu>ul>li:hover{
    border-bottom: 1px solid #FEBE29;
    border-top: 1px solid #FEBE29;
    color: #FEBE29;
    scale: 1.06;
}



.signinpage.closed{
    display: none;
}
.signinpage{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
    overflow: hidden;
    background-color: #00000066;
    /* border: 4px solid red; */
}
@keyframes signin{
    from{
        top: -100%;
    }
    to{
        top: 50%;
    }
}
.signinpage>.main-signin-form{
    width: 30%;
    position: absolute;
    animation: signin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    height: auto;
}


.signuppage.closed{
    display: none;
}
.signuppage{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
    overflow: hidden;
    background-color: #0000004a;
    /* border: 4px solid red; */
}
@keyframes signup{
    from{
        top: -100%;
    }
    to{
        top: 50%;
    }
}
.signuppage>.main-signup-form{
    width: 30%;
    position: absolute;
    animation: signup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    height: auto;
}





/* form css */
.container{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* column-gap: 30px; */
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif; 
    background: #FFF;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    font-family: 'Poppins', sans-serif; 
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
    font-family: 'Poppins', sans-serif; 
}
.form a{
    color: #0171d3;
    font-family: 'Poppins', sans-serif; 
    text-decoration: none;
}
.form-content{
    position: relative;
}
.form-content>i{
    position: absolute;
    top: 3%;
    right: 0%;
    transition: 0.88s;
}
.form-content>i:hover{
    color: red;
    scale: 1.4;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    font-family: 'Poppins', sans-serif; 
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif; 
    justify-content: center;
}
.media-options a>span{
    font-family: 'Poppins', sans-serif; 
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #CACACA;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    font-family: 'Poppins', sans-serif; 
    color: #232836;
}
@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}