*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.maincontent2{
    margin-top: 5vh;
    background-color: #000;
}
.headingcontent{
    margin-top: 10vh;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
}
.alignc{
    text-align: center;
}
.subcontent{
    margin-top: 30%;
    font-size: 1.4vw;
    width: 90vw;
    text-align: center;
    margin: auto;
    font-weight: 100;
}
.scontent{
    margin-top: 1vw;
}
.content2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
    margin: auto;
    min-height: 25vh;
}
.topmargin1{
    margin-top: 6vh;
}
.text-content2{
  
    background-color: #f5f5f5;
    padding: 3vw;
}
.pcontent-1{
    font-size: 1.6vw;
    font-weight: 600;
}
.pcontent-2{
    margin-top: 2vh;
    font-weight: 200;
    font-size:1.2vw;
}
.linkcontent
{
    margin-top: 4vh;
    color: rgb(93, 93, 203);
    font-size: 1.3vw;
    font-weight: 600;
}
.imgg{
    max-width: 100%;
    min-height: 100%;
}

.imggg1{
    max-width: 65vw;
    min-height:41vh;

}