@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.rent-maincontent{
    /* border: 5px solid red; */
    padding-top: 3vw;
    background-color: #000;
    width: 100vw;
    height: auto;
    overflow: hidden;
    padding-bottom: 2vw;
}
.rent-maincontent>hr{
    width: 90%;
    border: 2px solid #302f2f;
    margin: 0 auto;
}
.rent-maincontent>.rent-upper{
    /* border: 3px solid gold; */
    width: 100%;
    height: auto;
    padding: 5vw;
}
.rent-maincontent>.rent-upper>h1{
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.rent-maincontent>.rent-upper>h5{
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding-top: 1vw;
    font-size: 1.4vw;
}

.rent-maincontent>.rent-lower{
    /* border: 4px solid green; */
    width: 100%;
    height: auto;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
}
.rent-lower>.rent-lower-content{
    /* border: 4px solid gold; */
    width: 100%;
    padding: 3vw 0vw;
    overflow: hidden;
    background-color: #302f2f;
}
.rent-lower>.rent-lower-content>h3{
    color: #fff;
    padding: 0vw 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.7vw;
    padding-bottom: 2vw;
}
.rent-lower>.rent-lower-content>p{
    padding: 0vw 4vw;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    padding-bottom: 2vw;
}
.rent-lower>.rent-lower-content>a{
    padding: 0vw 4vw;
    color: #febe29;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.3vw;
    padding-bottom: 2vw;
}
.rent-lower>.rent-lower-image{
    /* border: 4px solid gold; */
    width: 100%;
    overflow: hidden;
}
.rent-lower>.rent-lower-image>img{
    width: 100%;
    height: 100%;
    transition: 0.77s;
}
.rent-lower>.rent-lower-image>img:hover{
    scale: 1.06;
}
.rent-end-message>p{
    padding: 4vw 18vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    text-align: center;
}
.rent-end-message>p>span{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    color: #febe29;
    text-decoration: underline;
    cursor: pointer;
}